*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: none;
    font-family: 'Courier New', Courier, monospace;
}
:root
{
    --cor_clara: #f4f4f4;
    --cor_escura: #dfdfdf;
}

html
{
    width: 100dvw;
    height: 100dvh;
}
body
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header
{
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--cor_clara);
    background-color: bisque;
    border-top: 4px solid brown;
    flex-grow: 1;
    .logo_header
    {
        font-weight: 100;
        background-color: var(--cor_escura);
        background-color: white;
        border-radius: 10px;
        border-bottom: 4px solid brown;
        width: 25%;
        max-width: 220px;
        text-align: center;
        font-size: 2em;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100%;
        .img_logo
        {
            width: 100%;
            height: 100%;
            max-width: 55px;
            // background-color: red;
            background-image: url("imglogo.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -5px -7px;
        }
    }
    nav
    {
        input,button
        {
            background-color: var(--cor_escura);
            border: none;
            text-align: center;
            font-size: 2em;
            
            background-color: white;
            border-radius: 10px;
            border-bottom: 4px solid brown;
        }
        input
        {
            margin: 0 45px 0 0;
            width: 250px;
            background-color: white;
            color: black;
            border-radius: 10px;
            padding: 0 10px;
        }
        input:focus
        {
            // border: none;
            outline: none;
            border-radius: 10px;
            border-bottom: 4px solid brown;
        }
        button
        {
            padding: 0 10px;
        }
    }
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background-color: bisque;
    border-top: 5px solid brown;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid brown;
    h1
    {
        font-weight: 100;
        background-color: var(--cor_escura);
        background-color: white;
        border-radius: 10px;
        border-bottom: 4px solid brown;
        // width: 25%;
        text-align: center;
        font-size: 2em;
        padding: 0 30px;
    }
}
main
{
    display: flex;
    flex-grow: 20;
    // background-color: rgba(255, 0, 0, 0.068);
    padding: 10px;
    justify-content: center;
    align-items: start;
    gap: 50px;
    background-color: bisque;
    #resultado_img
    {
        background-color: var(--cor_escura);
        height: 90%;
        width: 50%;
        max-width: 500px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        border: 1px solid;
        border-radius: 10px;
        .result_img,.result_instrucoes,.result_ingredientes
        {
            background-color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 0.5s ease-in-out;
            z-index: 3;
            overflow-y: scroll;
        }
        .result_instrucoes
        {
            // top: 10%;
            width: calc(100% - 30px);
            padding: 30px;
            z-index: 2;
            list-style: none;
        }
        .result_ingredientes
        {
            width: calc(100% - 30px);
            padding: 30px;
            z-index: 1;
            list-style: none;
            // top: 20%;
        }
    }
    #resultado_infos
    {
        height: 90%;
        width: 50%;
        max-width: 500px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        p
        {
            width: 100%;
            background-color: var(--cor_escura);
            background-color: white;
            border-radius: 10px;
            border-bottom: 3px solid brown;
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;
        }
        #selecionar_leitura
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-flow: column-reverse;
            gap: 10px;
        }
        .btns_result
        {
            display: flex;
            justify-content: space-between;
            button
            {
                background-color: var(--cor_escura);
                background-color: burlywood;
                border-radius: 50px;
                font-size: 1.5em;
                border: none;
                padding: 10px;
                cursor: pointer;
                transition: 0.1s ease-in-out;
            }
            // button:active
            // {
            //     transform: translateX(-10px);
            // }
        }
        span
        {
            text-align: center;
        }

    }
}
